@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Hubble_ultra_deep_field.jpg/1200px-Hubble_ultra_deep_field.jpg");
}

.contact_form {
  width: 90%; /* Cambiado el ancho del formulario */
  max-width: 500px; /* Agregado un ancho máximo para evitar que se vea muy ancho en pantallas grandes */
  margin: 80px auto;
  border-radius: 10px;
  padding: 30px; /* Simplificado padding */
  background-color: #fbfbfb;


input,
textarea {
  width: 100%; /* Cambiado el ancho a 100% para que se ajuste al ancho del formulario */
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  height: 150px;
  padding-top: 15px;
}

label {
  display: block;
  margin-bottom: 5px; /* Añadido espacio inferior */
}

button {
  width: 100%; /* Cambiado el ancho a 100% */
  height: 45px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #3f1c37;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: left;
  padding-bottom: 20px;
  color: #3b1c34;
}

h2 {
  color: #dfc;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

}

/*Loader*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #dfc;
    margin: -4px 0 0 -4px;
  }
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.loader {
    background-image: linear-gradient(60deg, #fc004c 0%, #eb1466 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.9s ease-in-out;
}
.loader2{
    clip-path: circle(0% at 100% 0);
}


/* Diseño de  Footer */

footer{
    background-color: rgb(226, 15, 78);
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer img {
    margin: 30px 5px;
    width: 150px;
    height: 150px;
}